.page-main {
  padding-left: 2.25%;
  padding-right: 2.25%;
}

.page-main__slider {
  margin-top: 274px;
  margin-bottom: 41px;
}

.page-main__promo {
  margin-bottom: 40px;
}

.page-main__catalog {
  margin-bottom: 23px;
}

.page-main__features {
  margin-bottom: 40px;
}

.page-main__news {
  margin-bottom: 39px;
}
