.page-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
  background-color: @bg-color-page-primary;

  &--background-primary {
    background-color: @bg-color-page-primary;
    background-image: url("../img/bg-slide-01.png");
  }

  &--background-secondary {
    background-color: @bg-color-main-secondary;
    background-image: url("../img/bg-slide-02.png");
  }

  &--background-tertiary {
    background-color: @bg-color-main-tertiary;
    background-image: url("../img/bg-slide-03.png");
  }
}
